* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: sans-serif;
  background-color: rgb(242, 242, 242);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 400px;
  padding: 16px 0;
  border-radius: 10px;
  text-align: center;
  background-color: #000000;
}

.container>div {
  width: 250px;
}

h1 {
  text-transform: uppercase;
  font-size: 20px;
  color: #ffffff;
}

input {
  width: 100%;
  height: 48px;
  padding: 0 8px;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
}

.line-operations {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

button {
  all: unset;
  width: 60px;
  height: 46px;
  border-radius: 10px;
  font-size: 20px;
  background-color: rgb(46, 46, 46);
  color: #ffffff;
  cursor: pointer;
}

button:hover {
  background-color: rgb(46, 46, 46, 0.70);
}

h2 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 16px;
  color: #ffffff;
}

.result {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(46, 46, 46);
}

.delete button {
  width: 100%;
  height: 50px;
  text-transform: uppercase;
  font-size: 16px;
  background-color: rgb(163, 0, 0);
}

.delete button:hover {
  background-color: rgba(163, 0, 0, 0.85);
  color: #ffffff;
}